---
fs_inotify_max_user_watches: 20480
# The number of watches (files) allowed per user.
# Keep in mind that each used watch is 1KiB/540B (64bits/32bits).
syncthing_user: syncthing
syncthing_group: syncthing

# Optional overload of the devices defined in the group vars.
# syncthing_devices:
#  - id: ...  # A device canonical ID
#    name: ...  # A device nickname

syncthing_folders:
  - id: default
    label: Default Folder
    path: /mnt/media/Sync
    fs_watcher: no  # Since it is read-only, no point in registering watchers
    ignore_perms: no  # Since it is read-only, should not really matter
    type: receiveonly  # Read-only copy! The host simply mirrors the data
    devices:
      - A-DEVICE-ID-AS-LISTED-ABOVE
      - A-DEVICE-NAME-AS-DEFINED-ABOVE
      - ...  # Any other device to share the folder with
